.footer_container_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0 0 0;
  background: linear-gradient(
    to right,
    var(--fifth-color),
    var(--third-color),
    var(--fourth-color)
  );
  height: 70vh;
}

.footer_location {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer_img > img {
  height: 60vh;
  border-radius: 1.5%;
}

.made_love {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  background-color: var(--second-color);
}
.footer_links {
  display: flex;
  margin: 5px;
  gap: 10px;
}

.footer_link {
  text-decoration: none;
  color: var(--second-color);
}
