.services_home_container {
  object-fit: cover;
  vertical-align: middle;
  min-width: 629px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 50px 0;
}

.services_home_title {
  padding-top: 40px 0;
  font-size: 55px;
  font-weight: 500;
  color: var(--fifth-color);
}

.services_home_title span {
  font-weight: 700;
}

.services_container_layout {
  display: flex;
  gap: 50px;
}

.service_general_img {
  max-width: 100%;
}

.service_text {
  font-size: 35px;
  top: 50%;
  left: -50px;
  transform: translateX(-30%);
  background-color: var(--fifth-color);
  color: var(--primary-color);
  margin-top: 25px;
  max-width: 600px;
  padding: 25px 50px;
  text-align: flex-end;
}

.service_text_second {
  padding-top: 15px;
  max-width: 350px;
  text-align: justify;
}
