.container_service_type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_layout_products {
  display: flex;
  flex-direction: row;
}

@media (min-width: 1200px) {
  .container_service_type {
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.65),
        rgba(255, 255, 255, 0.65)
      ),
      url("../../../public/ersg-min.jpg");
    background-position: 50% 50%;
    min-height: 686px;
  }

  .service_type_tittle {
    font-size: 3.75rem;
    font-weight: 700;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    line-height: 66px;
  }
  .u-block-ee62-6 {
    width: 114px;
    height: 3px;
    transform-origin: right center;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-ee62-7 {
    width: 740px;
    font-weight: 700;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-ee62-27 {
    grid-template-rows: auto;
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-55 {
    grid-template-columns:
      calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px)
      calc(25% - 7.5px);
    grid-gap: 10px 10px;
    min-height: 268px;
  }
  .u-block-ee62-28 {
    background-image: none;
  }
  .u-block-ee62-29 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ee62-47 {
    width: 120px;
    height: 120px;
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/woman-showing-her-beautiful-nails_23-2148697087.jpg?rand=39be");
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-31 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-48 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 20px;
    font-weight: 400;
  }
  .u-block-ee62-32 {
    background-image: none;
  }
  .u-block-ee62-33 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ee62-49 {
    width: 120px;
    height: 120px;
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/woman-doing-manicure-client-close-up_23-2148697076.jpg?rand=8b6b");
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-35 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-50 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 20px;
    font-weight: 400;
  }
  .u-block-ee62-36 {
    background-image: none;
  }
  .u-block-ee62-37 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ee62-51 {
    width: 120px;
    height: 120px;
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/skincare-beauty-female-feet-with-camomile-s-flower_186202-728.jpg?rand=668b");
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-39 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-52 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 20px;
    font-weight: 400;
  }
  .u-block-ee62-40 {
    background-image: none;
  }
  .u-block-ee62-41 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ee62-53 {
    width: 120px;
    height: 120px;
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/beautiful-female-hands-with-french-manicure-preparing-getting-spa-procedure_186202-4227.jpg?rand=6b0a");
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-43 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-54 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    font-weight: 400;
    margin-top: 20px;
  }

  .u-block-ee62-46 {
    border-style: solid;
    font-style: italic;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .container_service_type {
    background-image: linear-gradient(
        0deg,
        rgba(var(--white-r), var(--white-g), var(--white-b), 0.65),
        rgba(var(--white-r), var(--white-g), var(--white-b), 0.65)
      ),
      url("../../../public/ersg-min.jpg");
    background-position: 50% 50%;
    min-height: 519px;
  }

  .service_type_tittle {
    line-height: 66px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 3.75rem;
  }
  .u-block-ee62-6 {
    width: 114px;
    height: 3px;
    transform-origin: right center;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-ee62-7 {
    width: 740px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-weight: 700;
  }
  .u-block-ee62-27 {
    grid-template-rows: auto;
    margin-top: 47px;
    margin-bottom: 0;
  }
  .u-block-ee62-55 {
    grid-template-columns:
      calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px)
      calc(25% - 7.5px);
    grid-gap: 10px 10px;
    min-height: 268px;
  }
  .u-block-ee62-28 {
    background-image: none;
  }
  .u-block-ee62-29 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ee62-47 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/woman-showing-her-beautiful-nails_23-2148697087.jpg?rand=39be");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-31 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-48 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 20px;
    font-weight: 400;
  }
  .u-block-ee62-32 {
    background-image: none;
  }
  .u-block-ee62-33 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ee62-49 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/woman-doing-manicure-client-close-up_23-2148697076.jpg?rand=8b6b");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-35 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-50 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 20px;
    font-weight: 400;
  }
  .u-block-ee62-36 {
    background-image: none;
  }
  .u-block-ee62-37 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ee62-51 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/skincare-beauty-female-feet-with-camomile-s-flower_186202-728.jpg?rand=668b");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-39 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-52 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 20px;
    font-weight: 400;
  }
  .u-block-ee62-40 {
    background-image: none;
  }
  .u-block-ee62-41 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ee62-53 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/beautiful-female-hands-with-french-manicure-preparing-getting-spa-procedure_186202-4227.jpg?rand=6b0a");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-43 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-54 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    font-weight: 400;
    margin-top: 20px;
  }

  .u-block-ee62-46 {
    border-style: solid;
    font-style: italic;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .container_service_type {
    background-image: linear-gradient(
        0deg,
        rgba(var(--white-r), var(--white-g), var(--white-b), 0.65),
        rgba(var(--white-r), var(--white-g), var(--white-b), 0.65)
      ),
      url("../../../public/ersg-min.jpg");
    background-position: 50% 50%;
    min-height: 995px;
  }

  .service_type_tittle {
    line-height: 66px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 3.75rem;
  }
  .u-block-ee62-6 {
    width: 114px;
    height: 3px;
    transform-origin: right center;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-ee62-7 {
    width: 720px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-weight: 700;
  }
  .u-block-ee62-27 {
    grid-template-rows: auto;
    margin-top: 47px;
    margin-bottom: 0;
    height: auto;
  }
  .u-block-ee62-55 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-gap: 10px 10px;
    min-height: 268px;
  }
  .u-block-ee62-28 {
    background-image: none;
  }
  .u-block-ee62-29 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ee62-47 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/woman-showing-her-beautiful-nails_23-2148697087.jpg?rand=39be");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-31 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-48 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 20px;
    font-weight: 400;
  }
  .u-block-ee62-32 {
    background-image: none;
  }
  .u-block-ee62-33 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ee62-49 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/woman-doing-manicure-client-close-up_23-2148697076.jpg?rand=8b6b");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-35 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-50 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 20px;
    font-weight: 400;
  }
  .u-block-ee62-36 {
    background-image: none;
  }
  .u-block-ee62-37 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ee62-51 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/skincare-beauty-female-feet-with-camomile-s-flower_186202-728.jpg?rand=668b");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-39 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-52 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 20px;
    font-weight: 400;
  }
  .u-block-ee62-40 {
    background-image: none;
  }
  .u-block-ee62-41 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-ee62-53 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/beautiful-female-hands-with-french-manicure-preparing-getting-spa-procedure_186202-4227.jpg?rand=6b0a");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-43 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-54 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    font-weight: 400;
    margin-top: 20px;
  }

  .u-block-ee62-46 {
    border-style: solid;
    font-style: italic;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .container_service_type {
    background-image: linear-gradient(
        0deg,
        rgba(var(--white-r), var(--white-g), var(--white-b), 0.65),
        rgba(var(--white-r), var(--white-g), var(--white-b), 0.65)
      ),
      url("../../../public/ersg-min.jpg");
    background-position: 50% 50%;
    min-height: 975px;
  }

  .service_type_tittle {
    line-height: 1;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-ee62-6 {
    width: 114px;
    height: 3px;
    transform-origin: right center;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-ee62-7 {
    width: 540px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-weight: 700;
  }
  .u-block-ee62-27 {
    grid-template-rows: auto;
    margin-top: 47px;
    margin-bottom: 0;
    height: auto;
  }
  .u-block-ee62-55 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-gap: 10px 10px;
    min-height: 268px;
  }
  .u-block-ee62-28 {
    background-image: none;
  }
  .u-block-ee62-29 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-ee62-47 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/woman-showing-her-beautiful-nails_23-2148697087.jpg?rand=39be");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-31 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-ee62-48 {
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 20px;
    font-weight: 400;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-ee62-32 {
    background-image: none;
  }
  .u-block-ee62-33 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-ee62-49 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/woman-doing-manicure-client-close-up_23-2148697076.jpg?rand=8b6b");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-35 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-ee62-50 {
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 20px;
    font-weight: 400;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-ee62-36 {
    background-image: none;
  }
  .u-block-ee62-37 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-ee62-51 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/skincare-beauty-female-feet-with-camomile-s-flower_186202-728.jpg?rand=668b");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-39 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-ee62-52 {
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 20px;
    font-weight: 400;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-ee62-40 {
    background-image: none;
  }
  .u-block-ee62-41 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-ee62-53 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/beautiful-female-hands-with-french-manicure-preparing-getting-spa-procedure_186202-4227.jpg?rand=6b0a");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-43 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .u-block-ee62-54 {
    font-size: 1.875rem;
    line-height: 1;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-block-ee62-46 {
    border-style: solid;
    font-style: italic;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .container_service_type {
    background-image: linear-gradient(
        0deg,
        rgba(var(--white-r), var(--white-g), var(--white-b), 0.65),
        rgba(var(--white-r), var(--white-g), var(--white-b), 0.65)
      ),
      url("../../../public/ersg-min.jpg");
    background-position: 50% 50%;
    min-height: 975px;
  }

  .service_type_tittle {
    line-height: 1;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-ee62-6 {
    width: 114px;
    height: 3px;
    transform-origin: right center;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-ee62-7 {
    width: 340px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-weight: 700;
  }
  .u-block-ee62-27 {
    grid-template-rows: auto;
    margin-top: 47px;
    margin-bottom: 0;
    height: auto;
  }
  .u-block-ee62-55 {
    grid-template-columns: 100%;
    grid-gap: 10px 10px;
    min-height: 268px;
  }
  .u-block-ee62-28 {
    background-image: none;
  }
  .u-block-ee62-29 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-ee62-47 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/woman-showing-her-beautiful-nails_23-2148697087.jpg?rand=39be");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-31 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-48 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 20px;
    font-weight: 400;
  }
  .u-block-ee62-32 {
    background-image: none;
  }
  .u-block-ee62-33 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-ee62-49 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/woman-doing-manicure-client-close-up_23-2148697076.jpg?rand=8b6b");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-35 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-50 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 20px;
    font-weight: 400;
  }
  .u-block-ee62-36 {
    background-image: none;
  }
  .u-block-ee62-37 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-ee62-51 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/skincare-beauty-female-feet-with-camomile-s-flower_186202-728.jpg?rand=668b");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-39 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-52 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 20px;
    font-weight: 400;
  }
  .u-block-ee62-40 {
    background-image: none;
  }
  .u-block-ee62-41 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-ee62-53 {
    background-image: url("np://user.desktop.nicepage.com/Site_217987708/images/beautiful-female-hands-with-french-manicure-preparing-getting-spa-procedure_186202-4227.jpg?rand=6b0a");
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-ee62-43 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-ee62-54 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
    line-height: 1;
    font-weight: 400;
    margin-top: 20px;
  }

  .u-block-ee62-46 {
    border-style: solid;
    font-style: italic;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
