.services_container {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 30px;
}

.services_container > section {
  width: 1500px;
}

.create_service_btn {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin: 30px 100px;
}

.service_type_names {
  display: grid;
  grid-template-columns: 700px 450px 120px 130px;
  gap: 5px;
  color: var(--primary-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: var(--third-color);
}

.service_type {
  display: flex;
  justify-content: space-around;
  align-items: end;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 10px;
}

.service_type_text_inside {
  max-width: 1900px;
  display: grid;
  grid-template-columns: 700px 450px 120px 130px;
  gap: 5px;
}

.service_type_button {
  display: flex;
  gap: 15px;
}
